In [2]:
import pandas as pd
from preprocessing.preprocess import *

In [44]:
df = pd.read_csv("data/PastData_FullFloorHSX.csv")
# codeList = pd.read_csv("data/BankHOSECodeList.csv")
codeList = ['ACB', 'TCB']

In [45]:
df = df.loc[df['code'].isin(codeList)]

In [46]:
df = add_tech_indicators(df)

In [47]:
df.drop(columns=df.columns[0], axis=1, inplace=True)

In [48]:
df.to_csv("data/done_data.csv", index=False)

In [19]:
df = pd.read_csv("data/done_data.csv")

In [20]:
df

,code,date,open,high,low,close,nmVolume,macd,rsi,cci,adx
0,TCB,2019-01-02,26.00,26.05,25.60,25.60,1329030.0,0.353522,58.187957,145.033557,11.595347
1,STB,2019-01-02,12.00,12.05,11.60,11.60,3858970.0,0.502704,63.919084,150.788871,21.840327
2,EIB,2019-01-02,14.00,14.10,14.00,14.00,276290.0,0.480129,60.909523,101.867382,15.996533
3,VPB,2019-01-02,19.95,19.95,19.40,19.40,1037420.0,0.421949,67.145530,213.883495,34.504871
4,BID,2019-01-02,34.40,34.40,33.45,33.50,805700.0,0.397766,61.671093,72.815534,21.244317
...,...,...,...,...,...,...,...,...,...,...,...
18064,HDB,2023-12-29,19.40,20.30,19.15,20.30,12437600.0,NaN,NaN,NaN,NaN
18065,STB,2023-12-29,27.65,28.10,27.60,27.95,16014900.0,NaN,NaN,NaN,NaN
18066,VCB,2023-12-29,83.50,83.90,80.30,80.30,1621700.0,NaN,NaN,NaN,NaN
18067,VIB,2023-12-29,19.70,19.90,19.60,19.60,8957600.0,NaN,NaN,NaN,NaN
18068,BID,2023-12-29,42.70,43.40,42.30,43.40,882100.0,NaN,NaN,NaN,NaN

In [25]:
tickers = df['code'].unique()
tickers

array(['TCB', 'STB', 'EIB', 'VPB', 'BID', 'CTG', 'VCB', 'TPB', 'HDB',
       'MBB', 'LPB', 'VIB', 'ACB', 'MSB', 'OCB', 'SSB', 'SHB', 'EVF'],
      dtype=object)

In [28]:
tmp = np.array(['ACB','SHB'])
tmp

array(['ACB', 'SHB'], dtype='<U3')

In [23]:
df[df['code'] == 'ACB']

,code,date,open,high,low,close,nmVolume,macd,rsi,cci,adx
4902,ACB,2020-12-09,28.10,28.95,27.80,28.55,24200930.0,NaN,NaN,NaN,NaN
4914,ACB,2020-12-10,28.80,28.80,27.90,27.95,9233750.0,NaN,NaN,NaN,NaN
4925,ACB,2020-12-11,28.10,28.25,27.80,28.20,4459820.0,NaN,NaN,NaN,NaN
4939,ACB,2020-12-14,28.30,28.50,28.10,28.20,7325960.0,NaN,NaN,NaN,NaN
4952,ACB,2020-12-15,28.20,28.25,27.90,28.00,7305490.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
17996,ACB,2023-12-25,23.25,23.45,23.20,23.35,7582400.0,NaN,NaN,NaN,NaN
18002,ACB,2023-12-26,23.40,23.40,23.25,23.25,5728800.0,NaN,NaN,NaN,NaN
18025,ACB,2023-12-27,23.20,23.40,23.20,23.30,4866000.0,NaN,NaN,NaN,NaN
18049,ACB,2023-12-28,23.30,23.95,23.30,23.75,10513000.0,NaN,NaN,NaN,NaN
18051,ACB,2023-12-29,23.90,24.10,23.80,23.90,9195100.0,NaN,NaN,NaN,NaN

In [29]:
df['code'=='ACB']

KeyError: False